body {
    background: linear-gradient(#60ebeb 0%,#228B22 100%);
    margin: 0;
    padding-top: 800px;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: floralwhite;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 30;
    display: table;
    width: 100%;
    height: 100%;
}



h1 {

    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace
}

#bio {

    padding: 80px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: green;
    width: 70px;
    margin: 8px auto;
}


p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.parallax-inner {

    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}

.menu {
    background-color:#60ebeb; 
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    top: 10px;
    z-index: 10;
    width: 100%;

}


.links {
    cursor: pointer;
}

#welcome {
    position: absolute;
    height: 800px;
    color: darkblue;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9
}

}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: Palette;
}

.links {
    float: left;
    padding-top: 5px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 5px;
    font-size: 20px;
}

.links: hover {
    background-color: aquamarine;
}

a:link {

  color:#60ebeb;
}

a:visited {
    color: #60ebeb;
}

a:hover {
    color: #60ebeb;

}

a:active {
    color: #60ebeb;
}


#apps {
    width:100%;
    height:800px;

}

#games {
    width:100%;
    height:800px;

}

img {
    transition:transform .2s;
}

img:hover {
    transform:scale(0.9);
}

.links {
    transition:transform .2s;
}

.links:hover {
    transform:scale(1.5);
}

#chatbot {
    width:100%;
    height:800px;

}
